@import "./src/input.css";

html,
body {
  margin: 0;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/main-banner.png") no-repeat 80% center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Sarpanch", cursive;
}

main {
  width: 100vw;
  margin: auto;
}

section {
  padding: 20px;
}

h1 {
  font-family: "Six Caps", sans-serif;
}

nav {
  position: relative;
  padding: 0;
  color: #7f8b90;
  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;
}

nav div:before {
  content: "";
  display: block;
  background: linear-gradient(
    to right top,
    #cddc39 0%,
    #03a9f4 50%,
    #e6f0f5 50%
  );
  height: calc(100% - 100vh + 6px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
nav div:after {
  content: "";
  display: block;
  background: #e6f0f5;
  height: calc(100vh - 6px);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
}
