@import "./src/input.css";

html,
body {
  margin: 0;
}

html {
  background-color: black;
  font-family: "Sarpanch", cursive;
}

main {
  width: 100vw;
  margin: auto;
}

section {
  padding: 20px;
}

h1,
h2,
h3 {
  font-family: "Six Caps", sans-serif;
  font-family: "Six Caps", sans-serif;
  font-size: 8rem;
  line-height: 1em;
}

p {
  font-family: "Gloria Hallelujah", cursive;
}

progress {
  width: 100%;
  height: 4px;
  border: none;
  background: transparent;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: white;
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: white;
  background-attachment: fixed;
}

#main,
#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/main-banner.png") no-repeat 80% center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
